.about-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
}
.about-container > h1{
    margin-top: 100px;
}
.sectionWrapper{
    width:80vw;
    height:65vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.personalPic{
    order: 0;
    width:20%;
    height:50%;
    border-radius: 10%;
    border:solid #242424;
    background: url("./personalPic.jpeg");
    background-size: 100% 100%;
}

.vl {
    order:1;
    border-left: 3px solid #242424;
    height: 80%;
  }

  .aboutText{
      order:3;
      width:50%;
      height:80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      font-size: 2vw;
  }

    @media screen and (min-height:1000px){
        .sectionWrapper{
            width:80vw;
            height:80vh;
            flex-direction: column;
        }
        
        .personalPic{
            width:70%;
            height:40%;
            border-radius: 50%;
        }
        
        .vl {
            order:1;
            margin-top:20px;
            border-bottom: 3px solid #242424;
            width:80%;
            height:0
          }
        
          .aboutText{
              width:80%;
              height:50%;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              margin-top:20px;
              font-size: 3vh;
          }        
    }

    @media screen and (max-width:540px) and (min-height:550px){
        .sectionWrapper{
            width:80vw;
            height:80vh;
            flex-direction: column;
        }
        
        .personalPic{
            width:70%;
            height:40%;
            border-radius: 50%;
        }
        
        .vl {
            order:1;
            margin-top:20px;
            border-bottom: 3px solid #242424;
            width:80%;
            height:0
          }
        
          .aboutText{
              width:80%;
              height:50%;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              margin-top:20px;
              font-size: 3vh;
          }        
        }
    @media screen and (max-width:320px){
        .sectionWrapper{
            width:80vw;
            height:80vh;
            flex-direction: column;
        }
        
        .personalPic{
            width:70%;
            height:40%;
            border-radius: 50%;
        }
        
        .vl {
            order:1;
            margin-top:20px;
            border-bottom: 3px solid #242424;
            width:80%;
            height:0
          }
        
          .aboutText{
              width:80%;
              height:50%;
              flex-direction: column;
              justify-content: center;
              align-items: flex-start;
              margin-top:20px;
              font-size: 3vh;
          }        
        }
    