.services-container{
    height:100vh;
    text-align:center
}
.services-container > h1{
    padding-top: 100px;
    padding-bottom: 3vh;
}
.servicesWrapper{
    text-align: center;
    background-color: #313131 !important;
    color:aliceblue ;
    height:50vh;
}
