:root{
    --primary:#fff;
}
.btn{
    padding: 8px 20px;
    border-radius: 2px;
    border:none;
    outline:none;
    cursor:pointer
}
.btn--primary{
    border: 1px solid var(--primary);
    color: #242424;
    background-color:var(--primary);
}
.btn--outline{
    border: 1px solid var(--primary);
    color: var(--primary);
    background-color:transparent;
    transition: all 0.3s ease-out;
    margin-top: 20px;
}

.btn--medium{
    padding:8px 20px;
    font-size:20px
}
.btn--large{
    padding:12px 26px;
    font-size:20px;
}

.btn--medium:hover, .btn--large:hover{
    color: #242424;
    background-color:var(--primary);
    transition: all 0.3s ease-out;
}

